<canvas-whiteboard
        #canvasWhiteboard
        [drawButtonClass]="'drawButtonClass'"
        [drawButtonText]="'Dessiner'"
        [clearButtonClass]="'clearButtonClass'"
        [clearButtonText]="'nettoyer'"
        [undoButtonText]="'Revenir'"
        [undoButtonEnabled]="true"
        [redoButtonText]="'Redo'"
        [redoButtonEnabled]="false"
        [colorPickerEnabled]="true"
        [saveDataButtonEnabled]="true"
        [saveDataButtonText]="'Sauvegarder'"
        [lineWidth]="5"
        [strokeColor]="'rgb(0,0,0)'"
        [shouldDownloadDrawing]="true"
        (onBatchUpdate)="sendBatchUpdate($event)"
        (onClear)="onCanvasClear()"
        (onUndo)="onCanvasUndo($event)"
        (onRedo)="onCanvasRedo($event)">
</canvas-whiteboard>


