<mat-tab-group>
    <mat-tab label="Général">
        <mat-card class="salles-card">
            <mat-card-title>
              Création d'une salle
            </mat-card-title>
            <mat-card-content>
              <form class="salles_creation_form">
                  <div class="salles_popup_creation_row">
                      <div class="salles_popup_creation_row_head">
                        <div class="salles_popup_creation_head_image">
                            <mat-form-field>
                                <mat-label>Image</mat-label>
                                <select matNativeControl required>
                                  <option value="0"><img class="img-responsive" src="assets/ChickenCoops.png"></option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="salles_popup_creation_head_inputs">
                            <mat-form-field class="salles-form-full-width">
                                <input matInput placeholder="Nom de la salle">
                            </mat-form-field>
                            <mat-form-field [style.fontSize]="12" class="salles-form-full-width">
                                <mat-label>Description</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          cdkAutosizeMinRows="5"
                                          cdkAutosizeMaxRows="5"></textarea>
                            </mat-form-field>
                        </div>
                      </div>
                      <div class="salles_popup_creation_row_type">
                        <hr>
                        <div *ngIf="typeDeSalle == 'défaut'">Salle de conversation</div>
                        <div *ngIf="typeDeSalle == 'jeux'">Component jeux</div>
                        <hr>
                      </div>
                      <div class="salles_popup_creation_row_body">
                          <mat-form-field>
                              <mat-label>Type de salle</mat-label>
                              <mat-select [(value)]="typeDeSalle">
                                <mat-option value="défaut">Défaut</mat-option>
                                <mat-option value="jeux">Jeux</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-slide-toggle>Slide me!</mat-slide-toggle>
                      </div>
                    </div>
              </form>
            </mat-card-content>
          </mat-card>
    </mat-tab>
    <mat-tab label="Liste blanche"><app-liste-blanche></app-liste-blanche></mat-tab>
  </mat-tab-group>