  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="salles-header-image"></div>
      <mat-card-title>Chicken Coops</mat-card-title>
      <mat-card-subtitle>Salles de conversation</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <app-filtre></app-filtre>
    </mat-card-content>

    <mat-card-content>
      <app-options></app-options>
    </mat-card-content>

    <mat-card-content>
        <div class="salles-scrollable">
            <app-salle *ngFor="let salle of salles" [Salle]="salle"></app-salle>
        </div>
    </mat-card-content>
</mat-card>
