.sendContainer{
    width: 100%;
}

.line{
    width: 91%;
    font-size: 27px;
}

.button{
    width: 9%;
}

.barre-message{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.messagerieButtons{
    float: right;
}
