<div class="fenetreChat">
    <mat-card *ngFor="let message of salle.messages" [ngClass]="{'utilisateur': message.utilisateur_id === utilisateurId, 'autres': message.utilisateur_id !== utilisateurId}">
        <mat-card-header>
            <mat-card-title>Nom Utilisateur</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{message.texte}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div class="barre-message">
    <div class="messagerieButtons">
        <button mat-stroked-button color="primary"><img src="assets/icons/baseline-keyboard-24px.svg" alt="sendButton"/>
        </button>
        <button mat-stroked-button color="primary" (click)="afficherPicto()"><img src="assets/icons/baseline-note-24px.svg" alt="sendButton"/>
        </button>
    </div>
    <div *ngIf="picto" class="picto">
        <app-ajouter-picto></app-ajouter-picto>
    </div>
    <mat-form-field class="sendContainer">
        <input #message matInput class="line"/>
        <button mat-raised-button color="primary" class="button" (click)="buttonSend(message)"><img
                src="assets/icons/baseline-send-24px.svg" alt="sendButton"/></button>
    </mat-form-field>
</div>

