<mat-accordion class="salles-card">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Filtre
    </mat-expansion-panel-header>
    <form>
      <mat-form-field>
          <mat-label>Nombre minimum d'utilisateurs</mat-label>
        <input matInput matAutosize type="number" name="min" min="0"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombre maximum d'utilisateurs</mat-label>
        <input matInput matAutosize type="number" name="max" min="1"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type de salle</mat-label>
        <mat-select name='type'>
          <mat-option value="Défaut" selected>Défaut</mat-option>
          <mat-option value="Jeux">Jeux</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Langue</mat-label>
        <mat-select name='langue'>
          <mat-option value="Français" selected>Français</mat-option>
          <mat-option value="English">English</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button onclick="" color="primary">Envoyer</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
