<form method="post" action="">
    <!--<label for="nom">*Catégorie: </label>-->
    <!--<input type="Text" class="form-control" id="nom" placeholder="Catégorie" maxlength="40" required name="categorie">-->
    <h4>Créez un jeu</h4>
    <mat-form-field>
        <mat-label>Catégorie</mat-label>
        <mat-select matNativeControl [(ngModel)]="selectedCategorie" name="categorie" required>
            <mat-option *ngFor="let cat of categories" [value]="cat.titre">
                {{cat.titre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<br>
    <mat-form-field>
        <mat-label>Niveau</mat-label>
        <select matNativeControl [(ngModel)]="selectedNiveau" name="niveau" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </mat-form-field>
<br>
    <p> Niveau choisi: {{selectedNiveau}} </p>
    <p> Catégorie choisi: {{selectedCategorie}} </p>

</form>


<form #heroFormAjout="ngForm" id="categorieFormAjout" (ngSubmit)="onAdd();" >
    <h4>Ajouter une catégorie</h4>
    <mat-form-field class="example-quarter-width">
        <input type="text" id="titre" name="titre"   [(ngModel)]="newCategorie.titre" matInput #nom="ngModel" placeholder="Nouvelle catégorie"  >
        <br>
        <button matSuffix  type="submit" mat-raised-button color="primary" >Ajouter</button>
        <!--<mat-error *ngIf="titre.invalid && (titre.dirty || titre.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>-->
    </mat-form-field>
</form>


<!--[disabled]="!categorieFormAjout.form.valid"-->