<form method="post" action="">
    <!--<label for="nom">*Catégorie: </label>-->
    <!--<input type="Text" class="form-control" id="nom" placeholder="Catégorie" maxlength="40" required name="categorie">-->
    <h4>Créez un jeu</h4>
    <mat-form-field>
        <mat-label>Catégorie</mat-label>
        <mat-select matNativeControl [(ngModel)]="selectedCategorieNom" name="categorie" required>
            <mat-option *ngFor="let cat of categories" [value]="cat.titre" (click)="onSelect(cat)">
                {{cat.titre}}
            </mat-option>
        </mat-select>
    </mat-form-field>
<br>
    <mat-form-field>
        <mat-label>Niveau</mat-label>
        <select matNativeControl [(ngModel)]="selectedNiveau" name="niveau" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </mat-form-field>
<br>
    <p> Catégorie choisie: {{selectedCategorieNom}} </p>
    <p> Niveau choisi: {{selectedNiveau}} </p>
</form>

<!-- NL Start -->
<mat-table *ngIf="selectedCategorie != undefined && selectedNiveau != undefined" [dataSource]="selectedCategorie.mot" class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let mot"> {{mot.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="niveau">
        <th mat-header-cell *matHeaderCellDef> Niveau </th>
        <td mat-cell *matCellDef="let mot"> {{mot.niveau}} </td>
    </ng-container>
    <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> X </th>
        <td mat-cell *matCellDef="let mot"><button (click)="onDeleteMot(selectedCategorie,mot.nom)">X</button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['nom', 'niveau', 'supprimer']"></tr>
    <tr mat-row *matRowDef="let mot; columns: ['nom', 'niveau', 'supprimer'];"></tr>
</mat-table>
<!-- NL End -->

<form #heroFormAjout="ngForm" id="categorieFormAjout" (ngSubmit)="onAdd();" >
    <h4>Ajouter une catégorie</h4>
    <mat-form-field class="example-quarter-width">
        <input type="text" id="titre" name="titre"   [(ngModel)]="newCategorie.titre" matInput #nom="ngModel" placeholder="Nouvelle catégorie"  >
        <br>
        <button matSuffix  type="submit" mat-raised-button color="primary" >Ajouter</button>
        <!--<mat-error *ngIf="titre.invalid && (titre.dirty || titre.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>-->
    </mat-form-field>
</form>
<br>
<button mat-raised-button color="primary" class="nav-item nav-link-edit" [routerLink]="['/jeux/supprimerCategorie']">Supprimer une catégorie</button >


<!--[disabled]="!categorieFormAjout.form.valid"-->
