<div class="container">
    <h2>Créer cotre compte</h2>
    <form [formGroup]="creationCompteForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nomusager">Nom usager : </label>
            <input id="nomusager" type="text" formControlName="nomusager" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.nomusager.errors }"/>
            <div *ngIf="submitted && f.nomusager.errors" class="invalid-feedback">
                <div *ngIf="f.nomusager.errors.required">Le nom d'utilisaateur est obligatoire</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="courriel" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.courriel.errors }"/>
            <div *ngIf="submitted && f.courriel.errors" class="invalid-feedback">
                <div *ngIf="f.courriel.errors.required">Email est obligatoire</div>
                <div *ngIf="f.courriel.errors.courriel">Email doit être valide</div>
            </div>
        </div>
        <div class="form-group">
            <label>Mot de passe *(Il est important de ne pas mattre un mot de passe important ici, car les mots de passe
                ne sont pas encore encrypter)</label>

            <input type="password" formControlName="motdepasse" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.motdepasse.errors }"/>
            <div *ngIf="submitted && f.motdepasse.errors" class="invalid-feedback">
                <div *ngIf="f.motdepasse.errors.required">Le mot de passe est requis</div>
                <div *ngIf="f.motdepasse.errors.minlength">Le mot de passe doit avoir une longueur minumal de 6</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmer le mot de passe</label>
            <input type="password" formControlName="confirmMotdepasse" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.confirmMotdepasse.errors }"/>
            <div *ngIf="submitted && f.confirmMotdepasse.errors" class="invalid-feedback">
                <div *ngIf="f.confirmMotdepasse.errors.required">La confirmation du mot de passe est obligatoire</div>
                <div *ngIf="f.confirmMotdepasse.errors.mustMatch">Le mot de passe doit corresponde.</div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-4">
                    <button [disabled]="loading" class="btn btn-primary">Enregistrez-vous</button>
                    <img *ngIf="loading" class="pl-3"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <!--<a routerLink="/login" class="btn btn-link">Cancel</a>-->
                </div>
            </div>
        </div>
    </form>
</div>