<mat-card-title>Meilleurs scores</mat-card-title>
<ul class="scores">
  <li *ngFor="let s of scores" (click)="onSelect(s)"[class.selected]="s === selectedScore">
    <span class="badge"></span> {{s.score}}
  </li>
</ul>
<div class="container">
  <form #ajouterUnScore="ngForm" id="ajouterUnScore" (ngSubmit)="onAdd();">
  <mat-form-field>
    <input matInput placeholder="Score" [(ngModel)]="monScore" [ngModelOptions]="{standalone: true}" >
    <!-- <mat-error *ngIf="score.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Ne peut contenir que des chiffres</mat-error> -->
    <button matSuffix  type="submit" mat-icon-button color="primary" [disabled]="!ajouterUnScore.form.valid"><i class="material-icons">add</i></button>
  </mat-form-field>
  </form>
</div>
